version: '3.8'
services:
{% for service_name, service in services.items() %}
  {{ service_name }}:
    container_name: {{ service.container_name }}
    image: {{ service.image }}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      - HTTPPROXY=on
{% for env in service.environment %}
      - {{ env }}
{% endfor %}
    volumes:
      - gluetun:/gluetun
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
    restart: always
    networks:
      - vpn-network
{% endfor %}
  haproxy:
    container_name: haproxy-container
    image: haproxy:2.0
    ports:
      - "{{ proxy_port }}:{{ proxy_port }}/tcp"
    depends_on:
{% for dep in services.keys() %}
      - {{ dep }}
{% endfor %}
    restart: always
    volumes:
      - ./{{ haproxy_config_file }}:/usr/local/etc/haproxy/haproxy.cfg
    networks:
      - vpn-network
volumes:
  gluetun:
networks:
  vpn-network:
